/* Hack Colorz
    blue: #033fb4
    - hover: opacity: 0.7;

    salmon: (?) #fd685b
    - hover: opacity: 0.8;
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-size: 1rem !important;
    /* height: 100vw; */
    margin: 0;
    min-height: 100vh;
    width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: #22577E;
}

a:hover,
.delete-item-btn:hover {
    opacity: 0.7;
    text-decoration: none;
}

.txtfield {
    width : 30%; 
}
.btn-primary {
    color: #fff;
    background-color: #2E4C80;
    border-color: #2E4C80;
}
.btn-danger{
    color: #fff;
    background-color: #8d1a29;
    border-color: #8d1a29;
}
.btn-primary:hover {
    background-color:#95D1CC;
    border-color: #95D1CC;
    opacity: 0.7;
    text-decoration: none;
}
.btn-danger:hover {
    background-color:#d1959d;
    border-color: #d1959d;
    opacity: 0.7;
    text-decoration: none;
}